nav {
  background-color: #2421d5;
  position: fixed;
  width: 100vw;
  height: min-content;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  @media (min-width: 1000px) {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 250px;
    max-width: 300px;
    align-items: center;
  }
}

#avatar {
  display: none;
  margin-top: 10vh;
  margin-bottom: 10vh;
  border-radius: 100%;
  width: 80%;
  max-width: 200px;
  border: solid #17191c 6px;
  @media (min-width: 1000px) {
    display: block;
  }
}

.LinksContainer {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  color: #fff;
  width: min-content;
  top: 3rem;
  @media (min-width: 1000px) {
    background-color: inherit;
    box-shadow: none;
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

.LinksContainer a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  @media (min-width: 1000px) {
    display: inline;
    all: unset;
    font-weight: bold;
    line-height: 150%;
    color: #d8caff;
    font-size: 2rem;
  }
}

.LinksContainer a:hover {
  text-shadow: 2px 1px 6px #00000067;
  cursor: pointer;
  @media (min-width: 1000px) {
    color: #fff;
  }
}

.LinksContainer a:active {
  color: #fff;
}

#dropDown {
  position: relative;
  height: 3rem;
  display: inline-block;
  @media (min-width: 1000px) {
    display: none;
  }
}

#menuDropButton {
  cursor: pointer;
  color: #fff;
  font-size: 3rem;
}

#dropDown:hover .LinksContainer {
  display: block;
}
