@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: 'PT Sans', sans-serif;
  display: flex;
  flex-direction: column;
  min-width: 100%;

  @media (min-width: 1000px) {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}

body {
  --sb-track-color: #2421d5;
  --sb-thumb-color: #232e33;
  --sb-size: 0.5rem;
}

body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 3px;
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}

button {
  all: unset;
}

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 300, 'GRAD' 0, 'opsz' 48;
}

main {
  width: 100%;
  margin-top: 3rem;
  @media (min-width: 1000px) {
    margin-top: 0;
    margin-right: 250px;
  }
}

section {
  padding: 3rem 1rem 1.625rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: solid 1px #868e96;
  @media (min-width: 1000px) {
    padding-top: 0;
    height: 100vh;
    padding-left: 2rem;
    padding-bottom: 3rem;
    padding: 0 2rem 3rem 2rem;
  }
}

section:last-of-type {
  padding-bottom: 0;
}

#aboutMe ul {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  font-size: 1rem;
  @media (min-width: 1000px) {
    color: #6d757d;
    font-size: 1.375rem;
  }
}
#aboutMe ul > li {
  display: inline-block;
}

#aboutMe ul li:first-of-type {
  @media (min-width: 1000px) {
    color: #4e4bff;
  }
}

#aboutMe ul li:last-of-type {
  color: #4e4bff;
  @media (min-width: 1000px) {
    color: #6d757d;
  }
}

h1 {
  color: #343a40;
  font-size: 2rem;
  margin: 1rem 0;
  @media (min-width: 1000px) {
    color: #343a40;
    font-size: 6rem;
  }
  @media (max-height: 900px) {
    font-size: 3rem;
  }
}

h1 span:last-of-type {
  color: #4e4bff;
  @media (min-width: 1000px) {
    color: #343a40;
  }
}

h1 span:first-of-type {
  @media (min-width: 1000px) {
    color: #4e4bff;
  }
}

h2 {
  color: #343a40;
  margin: 0;
}

h3 {
  color: #232e33;
  margin: 0;
  font-weight: normal;
}

p {
  color: #505860;
  padding: 0;
  padding-right: 1rem;
  @media (min-width: 1000px) {
    padding-right: 2rem;
  }
}

section {
  @media (min-width: 1000px) {
    color: #6d757d;
    font-size: 1.375rem;
  }
}

section ul {
  flex-direction: column;
  margin: 0;
  padding: 0 0.5rem;
  display: flex;
  color: #343a40;
  font-weight: bold;
  list-style-type: none;
  @media (min-width: 1000px) {
    color: #6d757d;
  }
}

section li {
  font-weight: normal;
}

section > ul {
  gap: 1rem;
}

.Grid {
  display: grid;
  width: 100%;
  grid-template-columns: 3fr repeat(3, 1fr);
  grid-template-rows: repeat(2, 0.5fr) 0.5fr 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.Grid h1 {
  grid-area: 1 / 1 / 2 / 2;
}
.Grid .Years {
  grid-area: 4 / 1 / 5 / 2;
  color: #505860;
  @media (min-width: 1000px) {
    grid-area: 1 / 4 / 2 / 5;
  }
}
.Grid h3 {
  grid-area: 2 / 1 / 3 / 3;
  @media (min-width: 1000px) {
    grid-area: 2 / 1 / 3 / 2;
  }
}
.Grid .Description {
  grid-area: 3 / 1 / 3 / 3;
  color: #505860;
  font-weight: normal;
  @media (min-width: 1000px) {
    grid-area: 4 / 1 / 5 / 2;
  }
}

.ExperienceGrid {
  display: grid;
  grid-template-columns: 3fr repeat(3, 1fr);
  grid-template-rows: 0.3fr 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 1rem;
}

.ExperienceGrid h2 {
  grid-area: 1 / 1 / 2 / 2;
}
.ExperienceYears {
  grid-area: 1 / 4 / 2 / 5;
}
.ExperienceDescription {
  grid-area: 2 / 1 / 3 / 2;
  color: #505860;
  font-weight: normal;
}

.IconContainer {
  margin: 1rem 0;
  display: flex;
  gap: 1rem;
  @media (min-width: 1000px) {
    margin-top: 2rem;
  }
}

.BigIcon {
  height: 44px;
  width: auto;
}

.WideIcon {
  width: 44px;
}

#skillsWrapper {
  display: flex;
  flex-direction: column;
  @media (min-width: 1000px) {
    padding: 0 1rem;
    flex-direction: row;
    justify-content: space-around;
  }
}

#skills h2 {
  color: #343a40;
}

#skillsWrapper h3 {
  margin-top: 1rem;
  font-weight: bold;
  color: #343a40;
}

.ToolsWrapper {
  display: flex;
  flex-direction: column;
}

.ToolsWrapper li {
  display: flex;
  margin: 0.25rem 0;
}

.ToolsWrapper span {
  align-self: center;
  margin-left: 0.5rem;
  font-weight: bold;
  color: #505860;
}

#portfolioButtonsWrapper {
  width: 66%;
  gap: 5vw;
  align-self: center;
  grid-column-start: profile-start;
  grid-column-end: profile-end;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  min-height: auto;
  justify-items: center;
  @media (min-width: 550px) {
    grid-template-columns: repeat(2, 1fr);
    gap: 5vw;
  }
  @media (min-width: 1400px) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.PortfolioButton {
  width: 100%;
  box-shadow: 7px 9px 24px 6px rgba(66, 68, 90, 1);
  display: flex;
  border: solid 1px #343a40;
  box-sizing: border-box;
}

.PortfolioButton img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.PortfolioDialog[open] {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  box-shadow: 0px 14px 38px -5px rgba(66, 68, 90, 1);
  max-height: 90vh;
  width: 80%;
  @media (min-width: 1000px) {
    max-width: 60%;
  }
}

.PortfolioDialog span {
  cursor: pointer;
}

.CloseDialogButton {
  align-self: flex-end;
}

.CloseDialogButton span {
  font-size: 2rem;
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  color: #242020;
  @media (min-width: 1000px) {
    font-size: 3rem;
  }
}

.DialogButtonsWrapper {
  width: 100%;
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}

.PortfolioDialog p span:first-of-type {
  color: #4e4bff;
}

.PortfolioDialog a {
  all: unset;
  display: block;
  background-color: #4e4bff;
  color: #fff;
  font-size: 1.5rem;
  padding: 0.5rem;
  border-radius: 5px;
  align-self: flex-start;
  cursor: pointer;
}

.PortfolioDialog h1 {
  margin-top: 0;
  margin-bottom: 2rem;
}

.ImageViewer {
  background-color: #242020;
  width: 100%;
  min-height: 200px;
  height: 500px;
  max-height: 50vh;
  display: flex;
  justify-content: space-between;
}

.ImageViewer button span {
  color: #4e4bff;
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  font-size: 3rem;
  @media (min-width: 1000px) {
    font-size: 5rem;
  }
}

.Slide {
  object-fit: contain;
  max-width: calc(100% - 6rem);
  @media (min-width: 1000px) {
    max-width: calc(100% - 10rem);
  }
}
